/** Default Minima font - Manrope master */
@font-face {
  font-family: manrope-bold;
  src: url("./assets/fonts/manrope-bold.otf");
}
@font-face {
  font-family: manrope-light;
  src: url("./assets/fonts/manrope-light.otf");
}
@font-face {
  font-family: manrope-regular;
  src: url("./assets/fonts/manrope-regular.otf");
}
body, html {
  padding: 0; margin: 0 auto;
  background-color: #031B32;
  font-family: manrope-regular;
}
footer {
  border-top: 0.5px solid #455969;
  height: 60px;
  bottom: 0;
  text-align: center;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  bottom: 0;
  left: 8px;
  right: 8px;
  background-color: #F0F0FA;
  position: inherit;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 700px;
  height: 80vh;
  max-height: 600px;
  background-color: #F0F0FA;
  border-radius: 8px;
  padding: 8px;
  position: sticky;
  overflow: hidden;
  overflow-y: scroll;
}

main {
  overflow-y: scroll!important;
  height: 100%;
  margin-top: 16px;
}
header #content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #031B32;
  padding: 16px;
  position: sticky;
}
header #icon {
  width: 32px;
  height: 32px;
}
header h4 {
  color: #fff !important;
  margin:0;
  padding:0;
  font-family: manrope-bold;
}
header h4 span {
  color: #F65130 !important;
  font-weight: 800;
}
header  h4 #demo {
  color: #fff !important;
  font-size: 16px;
  font-weight: 800;
  padding-left: 8px;
}

.app .navigation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.navigation button {
  width: 100%;
  background-color: #031B32;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin: 1px;
}
.navigation button:hover {
  opacity: 0.8;
}
#menu #yourbalance {
  margin-bottom: 4%;
}




::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#buttons {
  text-align: center;
}
#aboutwrapper, #th-amount {
  padding-right:0!important;
  padding-left:0!important;
}
#sendcashwrapper, #th-time {
  padding-right:0!important;
}
#myfuturewrapper, #th-collect {
  padding-right:0!important;
}





button.active {
  background-color: #F65130 !important;
}
#intro {
  text-align: left;
}
#intro #title {
  margin-bottom: 0;
  padding-bottom: 0;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
  font-size: 2.3rem;
  color: #317AFF;
}
.info-icons {
  color: #F65130!important;
}
ul.firstcollection, ul.secondcollection, .thirdcollection, .fourthcollection {
margin: 0;
margin-bottom: 8px;
}
/* .firstcollection li div.collapsible-header h5 {
  line-height: 31px;
  float: left;
  font-size: 1.1rem!important;
}
.secondcollection li div.collapsible-header h5 {
  line-height: 31px;
  float: left;
  font-size: 1.1rem!important;
}
.firstcollection li div.collapsible-body p, .secondcollection li div.collapsible-body p, .thirdcollection li div.collapsible-body p, .fourthcollection li div.collapsible-body p  {

  font-family: manrope-regular;
}
.thirdcollection li div.collapsible-header h5 {
  line-height: 31px;
  font-size: 1.1rem!important;
}
.fourthcollection li div.collapsible-header h5 {
  line-height: 31px;
  font-size: 1.1rem!important;
} */
.dropdown {
  float: right;
  font-size: 2.3rem !important;
  position: absolute;
  right:0;
  bottom:18px;
  color: #317AFF;
}

.iconadd {
  display:inline-block;
}
.iconremove {
  display:none !important;
}

#intro .row div.col {
  padding-left: 0;
  padding-right: 0;
}
#intro h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: manrope-bold !important;
}
#intro h5 {
  font-family: manrope-bold !important;
  font-size: 1.0rem;
}
#intro p {
  font-size: 1.0rem;
  font-weight: 300;
  text-align: left;
}

.collapsible-header h5 {
  display: flex;
  align-items: center;

}
.button-wrapper {
  display: flex;
  justify-content: space-between;
}
.button-wrapper button {
  margin: 1px;
  border: none;
  padding: 8px;
  font-family: manrope-bold;
}
.button-wrapper button:hover {
  opacity: 0.8;
}

#myaddress {
  font-size: 1.0rem;
  padding: 8px;
  margin-bottom: 8px;
  word-wrap: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  background-color: #fff;
  color: #000;
}
#sendcash #myaddress {
  text-align: left;
}
#sendcash .genBtn {
  font-family: manrope-bold !important;
  font-size: 1.0rem;
  text-transform: none !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: keep-all;
  width: 100%;
  background-color: #317AFF !important;
}
#sendcash .copykey {
  width: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: none;
  border: 1px solid #317AFF !important;
  color: #317AFF;
  font-family: manrope-bold;
}
#sendcash #copykey.col.s4 {
  width: 40.33333%!important;
  margin-left: 1%!important;
}
#sendcash .copykey:hover, #sendcash .pastekey:hover {
  background-color: transparent !important;
}
#copyWrapper.offset-s1 {
  margin-left: 1%;
}
#sendcash .copyKey {
  width: 122%;
}

#sendcash .pastekey {
  width: 100%;
  text-transform: none;
  border: 1px solid #317AFF !important;
  color: #317AFF;
  font-family: manrope-bold;
  white-space: pre-wrap;
  overflow: hidden;
}
#sendcash #genBtn-wrap .col {
  padding: 0;
}
#sendcash #genBtn-wrap .col p {
  font-weight: 400;
  height: auto;
}
#sendcash #genBtn-wrap .col {
  height: 40px;
}

.menu-footer #yourbalance, .menu-footer #blocktime {
  padding-top: 5%;
  font-size: 1.0rem;
  letter-spacing: 0.02em;
}
.menu-footer .baldiv {
  font-family: manrope-bold !important;
  padding-left: 10%;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left !important;
  font-variant-numeric: oldstyle-nums;
}
.menu-footer .timediv {
  font-family: manrope-bold !important;
  padding-right: 10%;
  font-weight: 600;
  text-align: right !important;
  font-variant-numeric: oldstyle-nums;
}
#sendcash #sendform {
  padding: 16px 0px;
}
#sendcash .col {
  padding-right: 0 !important;
  padding-left: 0 !important;

}
#sendcash h6 {
  font-family: manrope-bold;
  font-size:16px;
  padding-top: 0;
}
#sendcash .collection {
  background: inherit !important;
  background-color: transparent !important;
}
#sendcash .collection .collection-item {
  background: inherit !important;
  border: none !important;
}
#sendcash input { 
  padding-left: 8px;
  background-color: #fff !important;
  height: 36px;
  word-break: break-all;
  white-space: normal;
  border: none !important;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}
#sendcash .collection .collection-item div {
  font-weight: 600;
}
#sendcash .sendBtn {
  background-color: #317AFF !important;
  color: #fff !important;
  width:98%;
  text-transform: none;
  font-size: 1.0rem;
  font-family: manrope-bold !important;
  margin-left: 3%;
  white-space: pre-wrap;
  overflow: hidden;
}
#mycash {
 
}
#futuremoney {
  opacity: 0.7;
}
#mycash #futuretable {
  
}
#mycash #futuretable #table-header.row .col .btn-flat {
  font-size: 1.0rem;
  text-align: center;
  font-family: manrope-bold !important;
  color: #fff !important;  
  padding-left:0;
  padding-right:0!important;
  cursor: auto;
}

#mycash #futuretable #table-header .col div {
  background-color: #91919D;
  color: #fff;
  font-family: manrope-bold;
  text-transform: none;
}

#futuredata .row .col {
  background-color: #FFFFFF;
  font-family: manrope-regular;
  font-size: 1.0rem;
  font-variant-numeric: tabular-nums;

  max-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#td-amount, #td-time {
  margin: auto;
  text-align: center;
  border-right: 1px solid #F0F0FA;
  height: 29px;
  line-height: 25px;
}
#td-collect {
  height: 25px;
}
#td-amount .wrap {
  margin: auto;
  display: inline;
  text-align: right;
  width: 100%;
}
.collect {
  margin: auto;
  font-family: manrope-bold !important;
  text-transform: none !important;
  height: inherit!important;
  line-height: inherit;
}
.progress {
  cursor: pointer;
  height: 10px;
  width: 100%;
}

#futurecashbtn {
  margin: auto;
  cursor: pointer;
}
#mycash .collect {
  background-color: #317AFF !important;
  color: #fff;
}
#mycash button {
  width:100%;
}
#modalSendFunds h4 {
  font-size: 1.0rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}
#modalSendFunds p {
  font-size: 1.0rem;
}
#modalSendFunds #yesBtn {
  color: #548FFF !important;
  font-size:1.2rem;
}
#modalSendFunds a {
  color: #F65130;
}




/** Toast */
.success {
  background-color: #548FFF !important;
}
.ready {
  background-color: #548FFF !important;
  font-family: manrope-bold;
}
.miningstarted {
  background-color: #548FFF !important;
  font-family: manrope-bold;
  height: 150px;
}
.miningstop {
  background-color: rgb(246,81,48) !important;
  font-family: manrope-bold;
  height: 150px;
}
.danger {
  background-color: rgb(246, 81, 48) !important;
  font-family: manrope-bold;
}
/** Date picker/time picker */

.datepicker-date-display {
  background-color: #031B32 !important;
}
.datepicker-canvas-bg {
  fill: #031B32 !important;
}

.timepicker-digital-display {
  background-color: #031B32 !important;
}






@media all and (min-width: 979px) {
  #menu .menuBtn, #menu .menuBtn2 {
    font-size: 1.0rem;
  }

  #sendcash h6 {
    font-size: 1.0rem;
  }
}

