body, html {
  padding: 0; margin: 0 auto;
  background-color: #16181C;
  font-family: manrope-regular;
}
@font-face {
  font-family: manrope-bold;
  src: url("../assets/fonts/manrope-bold.otf") format("opentype");
}
@font-face {
  font-family: manrope-light;
  src: url("../assets/fonts/manrope-light.otf") format("opentype");
}
@font-face {
  font-family: manrope-regular;
  src: url("../assets/fonts/manrope-regular.otf") format("opentype");
}
footer {
  border-top: 0.5px solid #455969;
  height: 60px;
  bottom: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  position: inherit;
  background-color: #16181C;
  color: #fff;
  padding: 0px 8px;
  border-radius: 8px;
}
footer .grid .row {
  margin-bottom: 0;
  margin-left:0;
  margin-right:0;
  width:100%;
}
footer .grid {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
footer .baldiv, footer .timediv {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 700px;
  height: 80vh;
  max-height: 80vh;
  border-radius: 8px;
  padding: 16px;
  position: sticky;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url('../assets/LM.jpeg');
  background-size: cover;
}

main {
  overflow-y: scroll!important;
  height: 100%;
  margin-top: 16px;
}
header #content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#future-cash-landscape {
  width: 180px;
}
header {
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #16181C;
  padding: 16px;
  position: sticky;
}
header #minima-orange-icon {
  width: 38px;
  height: 43px;
}
header h4 {
  color: #fff !important;
  margin:0;
  padding:0;
  font-family: manrope-bold;
}
header h4 span {
  color: #F65130 !important;
  font-weight: 800;
}
header  h4 #demo {
  color: #fff !important;
  font-size: 16px;
  font-weight: 800;
  padding-left: 8px;
}

.app .navigation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.navigation button {
  width: 100%;
  background-color: #16181C;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin: 1px;
}
.navigation button:hover {
  opacity: 0.8;
}
#menu #yourbalance {
  margin-bottom: 4%;
}






::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/* 
#buttons {
  text-align: center;
}
#aboutwrapper, #th-amount {
  padding-right:0!important;
  padding-left:0!important;
}
#sendcashwrapper, #th-time {
  padding-right:0!important;
}
#myfuturewrapper, #th-collect {
  padding-right:0!important;
} */





button.active {
  background-color: #F65130 !important;
}
#intro {
  text-align: left;
}
#intro #title {
  margin-bottom: 0;
  padding-bottom: 0;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
  font-size: 2.3rem;
  color: #317AFF;
}
.info-icons {
  color: #F65130!important;
}
ul.firstcollection, ul.secondcollection, .thirdcollection, .fourthcollection {
margin: 0;
margin-bottom: 8px;
}

.dropdown {
  float: right;
  font-size: 2.3rem !important;
  position: absolute;
  right:0;
  bottom:18px;
  color: #317AFF;
}

.iconadd {
  display:inline-block;
}
.iconremove {
  display:none !important;
}

#intro .row div.col {
  padding-left: 0;
  padding-right: 0;
}
#intro h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: manrope-bold !important;
}
#intro h5 {
  font-family: manrope-bold !important;
  font-size: 1.0rem;
}
#intro p {
  font-size: 1.0rem;
  font-weight: 300;
  text-align: left;
}

.collapsible-header h5 {
  display: flex;
  align-items: center;

}
.button-wrapper {
  display: flex;
  justify-content: space-between;
}
.button-wrapper button {
  border: none;
  padding: 8px;
  font-family: manrope-bold;
}
.button-wrapper button:hover {
  opacity: 0.8;
}

#myaddress {
  font-size: 1.0rem;
  padding: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
}
#sendcash .genBtn {
  font-family: manrope-bold !important;
  font-size: 1.0rem;
  text-transform: none !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: keep-all;
  width: 100%;
  background-color: #317AFF !important;
}
#genBtn:disabled {
  opacity: 0.1;
  color: red;
}
#sendcash .copykey {
  width: 100%;
  border: 1px solid #317AFF;
  color: #317AFF;
  font-family: manrope-bold;
  background: transparent;
  margin-left: 8px;
}
.split {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sendcash .pastekey {
  color: #317AFF;
  padding: 8px;
  border: 1px solid #317AFF;
  width: 100%;
  font-family: manrope-bold;
  background-color: transparent;
}
#sendcash #sendform {
  padding: 16px 0px;
}
#sendcash .col {
  padding-right: 0 !important;
  padding-left: 0 !important;

}
#sendcash h6 {
  font-family: manrope-bold;
  font-size:16px;
  padding-top: 0;
}
#sendcash .collection {
  background: inherit !important;
  background-color: transparent !important;
}
#sendcash .collection .collection-item {
  background: inherit !important;
  border: none !important;
}
#sendcash input { 
  padding-left: 8px;
  background-color: #fff !important;
  height: 36px;
  word-break: break-all;
  white-space: normal;
  border: none !important;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}
#sendcash .collection .collection-item div {
  font-weight: 600;
}
#sendcash .sendBtn {
  color: #fff;
  background-color: #317AFF;
  border: 1px solid #317aff;
  font-family: manrope-bold;
  margin-left: 8px;
  width: 100%;
  padding: 8px;
}
#sendcash input:disabled {
  opacity: 0.2;
}

#sendcash .sendBtn:disabled {
  opacity: 0.2;
  cursor: default;
}

#futuremoney {
  opacity: 0.7;
}
#table-hdr-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#table-hdr-wrapper .table-hdr {
  width: 100%;
  margin: 1px;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: center;
  font-family: manrope-bold;
  color: #031B32;
  background: transparent;
  border-bottom: 0.5px solid #031B32;
}

#mycash #futuretable #table-header .col div {
  background-color: #91919D;
  color: #fff;
  font-family: manrope-bold;
  text-transform: none;
}

#futuredata .row .col {
  background-color: #FFFFFF;
  font-family: manrope-regular;
  font-size: 1.0rem;
  font-variant-numeric: tabular-nums;

  max-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-data-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
}
.table-data-col {
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: #fff;
  height: 48px;
  max-height: 48px;
  min-height: 22px;
  text-overflow: hidden;
  white-space: nowrap;

}
.collect {
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.collect:hover {
  opacity: 0.9;
}
.collect:disabled {
  opacity: 0.2;
  cursor: default;
}
.progress {
  cursor: pointer;
  width: 100%;
}

#futurecashbtn {
  margin: auto;
  cursor: pointer;
}
#mycash .collect {
  background-color: #317AFF !important;
  color: #fff;
}
#mycash button {
  width:100%;
}

#modalSendFunds {
  width: 80vw;
  max-width: 400px;
}
#modalSendFunds .modal-content {
  text-align: center;
}
#modalSendFunds h4 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
#modalSendFunds p {
  font-size: 16px;
}
#modalSendFunds #yesBtn {
  color: #548FFF;
  font-size: 22px;
  text-transform: none;
}
#modalSendFunds #dismissBtn {
  color: #000;
  text-transform: none;
}
#modalSendFunds a {
  color: #F65130;
}




/** Toast */
.success {
  background-color: #548FFF !important;
}
.ready {
  background-color: #548FFF !important;
  font-family: manrope-bold;
}
.miningstarted {
  background-color: #548FFF !important;
  font-family: manrope-bold;
}
.miningstopped {
  background-color: #16181C;
  color: #fff;
}
.miningstop {
  background-color: rgb(246,81,48) !important;
  font-family: manrope-bold;
}
.danger {
  background-color: rgb(246, 81, 48) !important;
  font-family: manrope-bold;
}
/** Date picker/time picker */

.datepicker-date-display {
  background-color: #16181C !important;
}
.datepicker-canvas-bg {
  fill: #16181C !important;
}

.timepicker-digital-display {
  background-color: #16181C !important;
}

.datepicker-table td.is-selected {
  background-color: #317AFF!important;
}

.datepicker-done {
  color: #317AFF!important;
}
.datepicker-cancel {
  color: red!important;
}




@media all and (max-width: 750px) {
 .app {
  height: 100%!important;
  min-height: 100%;
  border-radius: 0;
 }
}


.center-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.progress-container {
  background-color: #CCC;
  position: relative;
  display: flex;
  align-items: center!important;
  justify-content: flex-start!important;
  padding:0!important;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
}

.my-progress-bar {
  position: relative;
  height: 22px;
  border-radius: 8px;
  background-color: #317AFF!important;
  max-width: 100%;
  background: #fff;
  z-index: 10000;
  /* animation: progress-animation 5s forwards; */
}

@keyframes progress-animation {
  0% { width: 0 }
  100% {width: 100%}
}



